<!DOCTYPE html>
<html lang="en">
<body>
    <h1><center>Part 8: modify all earthquakes within that range, to contain a mag of "999".</center></h1>
    <h3>MAG Level Range:<font color="blue">{{ minMag }} to {{ maxMag }}</font></h3>
    <h3>Time Range:<font color="blue">{{ startTime }} to {{ endTime }}</font></h3>
    <h3>Count:<font color="blue">{{ count }}</font></h3>
    <h3>List:</h3>
        <table border = 1>
         <table border = 1>
         <thead>
            <td>time</td>
            <td>latitude</td>
            <td>longitude</td>
            <td>depth</td>
            <td>mag</td>
            <td>rms</td>
            <td>place</td>
         </thead>

         {% for row in rows %}
         <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            <td>{{row[4]}}</td>
            <td>{{row[5]}}</td>
            <td>{{row[6]}}</td>
         </tr>
         {% endfor %}
    </table>

    <br>
    <h2> <a href = "/">Home</a> </h2>

</body>
</html>